* {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color      : rgb(63, 60, 110);
}

body {
    background         : #ece5f9;
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
    height             : 100vh;
    display            : flex;
    flex-direction     : column;
    align-items        : center;
    justify-content    : center;
}

:root {

    --main-color              : #e3d8f8;
    --main-color-gradiente    : linear-gradient(145deg, #ece5f9, #d8d0e7);
    --background-color-primary: #9a6fff;
    --main-border-radius      : 20px;
    --main-width              : 50vw;
}

.relevo_saltado {
    border-radius   : 20px;
    background-color: var(--main-color-gradiente);
    box-shadow      : 5px 5px 5px #b8afc9,
        -5px -5px 5px #ffffff9d;
}

.relevo_vazado {
    border-radius   : 20px;
    background-color: var(--main-color-gradiente);
    box-shadow      : inset 5px 5px 5px #c1b8d3,
        inset -5px -5px 5px #fff8ff;
}

.clique_vazado {
    transform: scaleY(0.9) translateY(4px);
}

.input_btn {
    /* width           : 20%; */
    padding         : 10px;
    border-radius   : 20px;
    background-color: var(--main-color-gradiente);
    border          : transparent solid 0.5px;;
    min-width       : min-content;
    transition      : all 0.2s;
}

.input_btn:hover {
    border: #9a6fff solid 0.5px;
}
.input_btn:active {
    transform       : scaleY(0.9) translateY(4px);
    background-color: var(--background-color-primary);
    color           : var(--main-color)
}

section {
    margin-inline: 1vw;
    width        : var(--main-width );
    min-width    : min-content;
}

#painel {
    text-align     : center;
    padding        : 10px 20px;
    display        : flex;
    flex-direction : column;
    justify-content: center;

}

#campo_1_painel {
    display        : flex;
    justify-content: space-between;
    padding        : 10px 15px;
}

hr {
    width: var(--main-width );
}

#display_senhas {
    padding: 10px 20px;
}

#campo_1_display {
    display        : flex;
    justify-content: center;
    padding        : 5px 0px;
}

#campo_1_display label {
    display        : flex;
    justify-content: space-around;
    flex-wrap      : nowrap;
    width          : 100%;
}

#campo_1_display input[type="text"]:focus {
    outline: 0;
}

#campo_1_display input[type="text"] {
    background-color: transparent;
    border          : none;
    width           : 50%;
}

#campo_2_display {
    overflow-y: scroll;
    max-height: 40vh;
    margin-top: 5%;
}

.div_infos {
    display        : flex;
    align-items    : center;
    justify-content: space-around;
    padding        : 1px 5%;
    margin         : 5%;
    transition     : all 1s;
}

.div_infos p {
    width        : 30%;
    text-overflow: ellipsis;
}

.div_infos input[type="text"],
.div_infos input[type="password"] {
    border          : none;
    background-color: transparent;
    width           : 25%;
    min-width       : min-content;
}