* {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color      : rgb(63, 60, 110);
}

body {
    background         : #ece5f9;
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
    height             : 100vh;
    display            : flex;
    align-items        : center;
    justify-content    : center;
    flex-wrap: wrap;
}

:root {

    --main-color              : #e3d8f8;
    --main-color-gradiente    : linear-gradient(145deg, #ece5f9, #d8d0e7);
    --background-color-primary: #9a6fff;
    --main-border-radius      : 20px;
}

.relevo_saltado {
    border-radius   : 20px;
    background-color: var(--main-color-gradiente);
    box-shadow      : 5px 5px 5px #b8afc9,
        -5px -5px 5px #ffffff9d;
}

.relevo_vazado {
    border-radius   : 20px;
    background-color: var(--main-color-gradiente);
    box-shadow      : inset 5px 5px 5px #c1b8d3,
        inset -5px -5px 5px #fff8ff;
}

.clique_vazado {
    transform: scaleY(0.9) translateY(4px);
}

.input_btn {
    width           : 20%;
    padding         : 10px 15px;
    border-radius   : 20px;
    background-color: var(--main-color-gradiente);
    border          : none;
    transition      : all 0.1s;
    min-width       : min-content;
}

.input_btn:hover {
    transform: scaleY(1.05) translateY(-1px);
}
/* .teste{
} */
.input_btn:active {
    transform: scaleY(0.9) translateY(4px);
    background-color: var(--background-color-primary);
    color: var(--main-color)
}
section{
    margin-inline: 1vw;
    min-width: min-content;
}
#painel {
    text-align     : center;
    padding        : 10px 20px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    width          : 30vw;

}

#campo_1_painel {
    display        : flex;
    justify-content: space-between;
    padding        : 10px 15px;
}

#display_senhas {
    width  : 30vw;
    padding: 10px 20px;
}
#campo_1_display{
    display        : flex;
    justify-content: center;
    padding: 5px 0px;
}
#campo_1_display label{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
input[type="text"]{
    background-color: transparent;
    border: none;
    width: 50%;
}